[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Timezone
default-time-zone=SYSTEM
log_timestamps=SYSTEM

# Error Log
slow_query_log=1
long_query_time=5.0
log_queries_not_using_indexes=0
general_log=1

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
